:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}


body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: #535bf2;
}

a:hover {
  color: orangered;
}

img {
  width: 100%;
  display: block;
}

input{
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: 1.6rem;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  outline: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.resize-animation-stopper *{
  animation: none!important;
  transition: none!important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bg-pink{background-color: var(--pink-color);}



